.header__link {
    color: white;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    transition: opacity 0.2s ease;
}

.header__link:hover {
    opacity: 0.8;
}