.footer__links {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-right: 18px;
}

.footer__links:last-of-type {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer__links {
    margin: 0 0 32px;
  }

  .footer__links:last-of-type {
    margin-bottom: 48px;
  }
}