.footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2 * 48px);
    margin: 92px 48px 24px;
  }

  @media screen and (max-width: 950px) {
    .footer {
      width: calc(100% - 2 * 24px);
      margin: 88px auto 24px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .footer {
      width: calc(100% - 2 * 16px);
      margin: 64px auto 0;
      flex-direction: column;
    }
  }