.places__url-heading {
  color: #AAA;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 950px) {
  .places__url-heading {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
  }
}
