.places__url-heading {
  color: #AAA;
  font-size: 12px;
  font-family: Inter;
  line-height: 12px;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

@media screen and (max-width: 950px) {
  .places__url-heading {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
  }
}